.signupWrapper{
    display: flex;
    justify-content: center;
}
.signupCard{
    width: 30vw;
    margin: 5rem;
}
.insta-logo{
    margin: 1rem;
    margin-bottom: -0.1rem;
    height: 5rem;
    display: flex;
    justify-content: center;
}